/*Цвет шрифтов*/
*{
	color: rgba(6, 18, 36, 0.9);
}
.header_status_text{
	color: #061224;
}
.seo_elem{
color: #1064E5;
}
/*Цвет фона/фон*/
.header_container{
	background:url(../image/header/header_man.png) right center / 375px  no-repeat , 
	linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%),
	url(../image/header/header_bg.png);
}
/**/
.blog .header_container, 
.video .header_container,
.contacts .header_container,
.faq .header_container,
.about .header_container,
.error .header_container
{
	background: none;
}
.product_container,
.document_container,
.about_container,
.blog .mailing, 
.video .frame, .video .mailing,
.about .frame, .about .mailing,
.faq_contacts,
.blog .frame
{
	background: #D8F1F0;
}
.answer_container{
	background: #DEEEFC;
}
.footer_container {
	background: #061224;
}
.footer_address, .footer_mail, .footer_container a, 
.fault_text {
	color: white;
}


/*Медиазапрос при 992px ширины экрана*/
@media(max-width: 992px){

}
};