/*Стили шрифтов*/
body{
	font-family: 'IBM Plex Sans', sans-serif;
}
.header_main_tittle, 
.product_tittle, 
.sign_tittle,
.about_tittle,
.acq_tittle,
.answer_tittle,
.mailing_tittle,
.frame_tittle,
.writing_tittle,
.video_header_tittle, .video_name,
.contacts_tittle,
.aboutus_tittle,
.post_tittle{
	font-family: 'IBM Plex Serif', serif;
}
/*Размеры шрифтов*/
summary {
	font-size:1.125em;
}
.sign_button,
.footer_bottom,
.header_status_text, .writing_tag_elem{
	font-size: 12px;
}
.header_nav_main,
.about_date,
.footer_content,
.writing_date,
.video_header_date,
.video_main_date,
.fault_button,
.post_date{
	font-size: 14px;
}
.header_main_number, .product_text,
.document_text,
.answer_elem,
.mailing_text,
.contacts_info,
.contacts_form_text, .contacts_form_input, .contacts_form_textarea,
.aboutus_text,
.aboutus_comment,
.post-1_text {
	font-size: 18px;
}
.sign_info{
	font-size: 20px;
}
.header_main_number_active, .header_main_subtittle, 
.motto_slogan_tittle,
.about_subtittle,
.mailing_area,
.video_main_tittle,
.writing_name,
.faq_subtittle,
.fault_text{
	font-size: 24px;
}
.sign_subtittle{
	font-size: 28px;
}
.video_header_subtittle,
.post-1_subtittle{
	font-size: 36px;
}
.header_main_tittle, 
.product_tittle, 
.sign_tittle,
.document_subtittle,
.friends_tittle,
.about_tittle,
.acq_tittle,
.answer_tittle,
.mailing_tittle,
.frame_tittle,
.writing_tittle, .writing_sumtittle,
.seo_tittle,
.video_header_tittle, .video_name, .video_writing_tittle,
.contacts_tittle,
.faq_tittle,
.aboutus_tittle,
.post_tittle{
	font-size: 40px;
}
.sign_info span{
	font-size: 48px;
}
.document_tittle{
	font-size: 73px;
}
/*Толщина шрифтов*/
.header_nav_main, .header_main_tittle, 
.motto_slogan_tittle, 
.product_tittle, 
.sign_tittle, .sign_text, .sign_info,
.document_tittle, .document_subtittle,
.friends_tittle,
.about_tittle,.about_date,
.acq_tittle,
.answer_tittle,
.mailing_tittle,
.footer_content,
.writing_tittle, .writing_date, .writing_number,
.video_header_tittle, .video_header_subtittle, .video_header_date, .video_name, .video_writing_tittle,
.contacts_tittle,
.faq_tittle,
.answer_subtittle,
.aboutus_tittle,
.aboutus_comment_autor span,
.fault_button,
.post_tittle{
	font-weight: 500;
}
.header_nav_main, 
.sign_button, .sign_subtittle,
.about_subtittle,
.writing_sumtittle,
.seo_tittle,
.video_main_tittle,
.writing_name,
.faq_subtittle{
	font-weight: 600;
}
.header_main_subtittle, .sign_info span {
	font-weight: 700;
}
/*Межстрочный интервал*/
.document_text{
	line-height: 1.5em;
}
/*Расположение текста*/
.sign_tittle,
.document_content,
.friends_content,
.about_tittle,
.acq_content,
.answer_tittle,
.mailing_content,
.footer_item,
.frame_content,
.seo_button,
.video_name,.video_writing_tittle,
.contacts_tittle, .contacts_subtittle,
.fault_content{
	text-align: center;
}

@media(max-width: 768px){
.writing_body .writing_tag_elem{
	font-size: 10px;
}
.product_text,
.answer_text,
.mailing_text,
.about_text,
.aboutus_text,
.aboutus_comment{
	font-size: 16px;
}
.motto_slogan_tittle,
.about_subtittle,
.video_header_subtittle,
.video_main_tittle,
.video_writing_elem .writing_name,
.faq_tittle{
	font-size: 20px;
}
.video_header_tittle{
	font-size: 34px;
}
.header_main_tittle, 
.product_tittle, 
.sign_tittle,
.document_subtittle,
.friends_tittle,
.about_tittle,
.acq_tittle,
.answer_tittle,
.mailing_tittle,
.frame_tittle,
.writing_tittle, .writing_sumtittle,
.seo_tittle,
.video_name, .video_writing_tittle,
.contacts_tittle,
.aboutus_tittle,
.post_tittle{
	font-size: 36px;
}

.document_tittle{
	font-size: 56px;
}
}
@media(max-width: 576px){
.writing_tag_elem{
	font-size: 10px;
}
.product_button,
.writing_date{
	font-size: 12px;
}
.product_text,
.answer_text,
.mailing_text,
.document_text,
.contacts_subtittle,
.contacts_form_text,
.contacts_info,
.contacts_form_input,
.writing_text,
.writing_nav,
.aboutus_text,
.aboutus_comment{
	font-size: 14px;
}
.about_subtittle,
.video_main_tittle, 
.video_header_subtittle,
.fault_text,
.writing_name{
	font-size: 16px;
}
.header_main_subtittle{
	font-size: 18px;
}
.sign_tittle,
.contacts_tittle,
.writing_tittle,
.writing_sumtittle{
	font-size: 20px;
}
.header_main_tittle, 
.product_tittle, 
.document_subtittle,
.friends_tittle,
.about_tittle,
.acq_tittle,
.answer_tittle,
.mailing_tittle,
.frame_tittle,
.seo_tittle,
.video_header_tittle, .video_name, .video_writing_tittle,
.faq_tittle,
.aboutus_tittle,
.post_tittle{
	font-size: 25px;
}
.motto_slogan_tittle,
{
	font-size: 20px;
}
.document_tittle{
	font-size: 36px;
}
}
@media(max-width: 375px){
.faq_tittle{
	font-size: 16px;
}
.video_writing .about_tittle,
.faq_subtittle,
summary{
	font-size: 17px;
}
}