/*Импортируем стили в один стиль*/
@import url(reset.css);
@import url(fons.css);
@import url(color.css);
.main {}
.wrapper {}
.container{}
/* Оформление кнопок*/
/* Обычное поведение кнопок*/
.button_blank, .button_blank_mob{
	border: 1.5px solid #1064E5;
	box-sizing: border-box;
	border-radius: 43px;
	padding: 18px 32px;
}
.button_full, .button_full_mob{
	border: 1.5px solid #1064E5;
	box-sizing: border-box;
	border-radius: 43px;
	padding: 18px 32px;
	background: #1064E5;
	color: white;
}
/* Поведение кнопок при наведении*/
.button_blank:hover, .button_blank_mob:hover{
	border: 1.5px solid #1064E5;
	background: #1064E5;
	color: white;
}
.button_full:hover, .button_full_mob:hover {
	background: none;
	color: rgba(6, 18, 36, 0.9);
}
/* Поведение кнопок при нажатии*/
.button_blank:active, .button_full:active, .button_full_mob:active{
	border: 1.5px solid #0046B0;
	background: #0046B0;
	color: white;
}
/* Поведение кнопки регистрация*/
.button_full_mob, .button_blank_mob, .button_full_mob:hover, 
.button_blank_mob:hover, .button_full_mob:active, .button_blank_mob:active{
	padding: 8px 32px;
}
/* Оформление header*/

.header_container {
	padding: 40px 7vw 0;
}
.main .header_container {
	padding: 40px 7vw;
}
.header_contant {}
.header_img{}
.header_nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header_nav_logo {
	margin-right: auto;
}
.header_nav_logo a{
	display: block;
}
.header_nav_main {}
.header_nav_lists {}
.header_nav_list {
	position: relative;
	display: inline-block;
	margin: 0 1vw;
}
.header_nav_list:nth-child(6){
	margin: 9.5px 0.5vw;
}


.header_nav_link {}
/*Настраиваем "хлебные крошки"*/
.header_status {}
.header_status_text {
	margin-top: 3.52vw;
	opacity: 0.6;
}
/*Оформляем выпадающее меню*/
.header_nav_list ul{
	position: absolute;
	display: none;
}
.header_nav_list:hover .header_nav_sublink {
	display: block;
}
.header_nav_sublink a{
	display: block;
}


.header_main {

}
.header_main_tittle {
	margin-top: 7vw;
	width: 40%;
}
.header_main_numbers {
	padding: 14px 0;
	display: flex;
	align-items: center;
}
.header_main_number {
	margin: 0 8px;
}
.header_main_number:nth-child(2),.header_main_number:nth-child(4){
	position: relative;
	width: 16px;
	height: 0px;
	background-color: #1064E5;
	border: 1.6px solid #1064E5;
	box-sizing: border-box;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	border-radius: 2px;
}
.header_main_number_active{}
.header_main_subtittle {}
.header_main_text {
	margin: 14px 0;
	width: 33%;
}
.header_button {
	margin-top: 50px;
}
.header_button_link{
	padding: 18px 32px;
}
.button_full {}
.header_input {
	text-align: center;
	margin-top: 115px;
}

/*Оформляем content на главной странице*/
/*Оформляем вевиз*/
.motto
.motto_container {}
.motto_body {}
.motto_slogans {
	padding: 4vw 0 5vw 0;
	display: flex;
	justify-content: center;
}
.motto_slogan {
	display: flex;
	margin: 0 1.74vw;
}
.motto_slogan_img {
	margin-right: 20px;
}
.motto_slogan_info {}
.motto_slogan_tittle {}
.motto_slogan_text {
	margin-top: 20px;
}
/*Оформляем продукт*/
.product {}
.product_container {
	padding: 6%;

}
.product_content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product_elem {
	flex: 1 1 43%;
	margin-top: 10px;
	padding: 15px;
}
.product_elem_1{}
.product_elem_2{}
.product_elem_3{}
.product_elem_4{
	padding-left: 7vw;
}
.product_tittle {
	margin-bottom: 8px;
}
.product_list {
	padding-right: 10px;
	position: relative;
	left: 10px;
}
.product_text {
	margin: 10px 0;
}
.product_text:before{
	content: "-";
	position: absolute;
	left: -10px;
}
.product_button {
	margin-top: 50px;
}
.product_img {
	width: 100%;
}
/*Оформляем подписи документов*/
.sign {}
.sign_container {
	max-width: 80%;
	margin: 0 auto;
}
.sign_content {
	padding: 2.08vw 0 3.47vw;
}
.sign_tittle {
	margin-bottom: 25px;
}
.sign_body {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 0 4px;

}
.sign_elem {
	padding: 32px;
	background: #DEEEFC;
	flex: 0 1 256px;
	height: 320px;
	margin: 2px;
	position: relative;
	border-radius: 4px;
}
.sign_subtittle {}
.sign_text {
	margin-top: 44px;
}
.sign_info {
	margin-top: 34px;
}
.sign_info span{}
.sign_button {}
/*Оформляем кнопки */
.sign_button .button_full_mob, .sign_button .button_full_mob:hover, 
.sign_button .button_full_mob:active{
	padding: 14px 15px;
	float: left;
	text-align: center;
	width: 75%;
	position: absolute;
	bottom: 32px;
}
/*Оформляем блок документы*/
.document {}
.document_container {}
.document_content {
	padding: 45px 0;
}
.document_tittle {
	padding-bottom: 25px;
}
.document_subtittle {
	padding-bottom: 15px;
}
.document_text {}
/*Оформляем блок партнеров/коллег*/
.friends {}
/* Cоздаем ограничивающий контейнер для того чтобы элементы не разъехались
 при большой ширине экрана*/
.friends_container {
	max-width: 75vw;
	margin: 0 auto;
}
.friends_content {
	padding: 50px 0;
}
.friends_tittle {
	padding-bottom: 50px;
}
.friends_logo {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.friends_elem {
	margin: 0 1.04em;
}
.friends_input {
	margin-top: 40px;
}
/*Оформляем блок "пишем про"*/
.about {}
.about_container {}
.about_content {
	padding: 45px 0;
}
.about_tittle {
	margin-bottom: 32px;
}
.about_body {
	display: flex;
	justify-content: center;
}
.about_elem {
	display: block;
	flex: 0 1 374px;
	margin: 0 1.875vw;
}
.about_img img{
	width: 100%;
}
.about_date {
	margin: 15px 0 ;
	padding-left: 20px;
}
.about_subtittle {
	padding: 0 20px;
}
/*Оформляем блок с видео*/
.acq {}
.acq_container {}
.acq_content {
	padding: 63px 0;
}
.acq_tittle {
	margin-bottom: 50px;
}
.acq_video iframe {
	width: 734px;
	height: 451px;
}
/*Оформляем блок с вопросами*/
.answer {}
.answer_container {}
.answer_content {
	max-width: 800px;
	margin: 0 auto;
	padding: 45px 0;
}
.answer_tittle {
	margin-bottom: 40px;
}
/*.answer_list {}
.answer_question {}
.answer_radio {}
input.answer_radio{
	display: none;
}
input.answer_radio + label + div{
	display: none;
}
input.answer_radio:checked + label + div{
	display: block;
}
input.answer_radio + label{
	text-decoration: underline;
	cursor: pointer;
}
input.answer_radio:checked + label{
	display: none;
}
input.answer_radio + label + div + input + label{
	display: none;
	text-decoration: underline;
	cursor: pointer;
}
input.answer_radio:checked + label + div + input + label{
	display: block;
}*/

.answer_text {
	max-width: 550px;
	margin: 0 auto;
}
/*Изменяем маркер меню-аккардион*/
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:inline-block;
   padding: .3em .5em .3em .4em;
   font-size:1.125em;
   cursor: pointer;
}
summary:before {  
  content: "+";
  margin-right: .3em;
}
details[open] > summary:before {
  content: "–";
}
summary ~ * {
   padding:0 1em 0 1em;
}
summary:focus {
  outline:0;

}
details{
  display:block;
  margin-bottom: .5rem;
}
.answer_elem {
	margin: 10px 0;
}
.answer_elem:nth-child(even) {
	margin-bottom: 20px;
}
/*Оформляем блок рассылки*/
.mailing {}
.mailing_container {}
.mailing_content {
	padding: 60px 0 100px;
}
.mailing_tittle {}
.mailing_text {
	margin-top: 40px;
}
.mailing_form {}
.mailing_box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mailing_elem {
	margin: 35px 9px;
}
.mailing_area {
	padding: 0 20px;
	height: 50px;
	border: 1px solid #1064E5;
	border-radius: 37px;
}
.mailing_submit {
	letter-spacing: 0.19em;
	padding: 16px 32px;
}
/*Оформляем подвал*/
.footer {}
.footer_container {}
.footer_content {
	display: flex;
	padding: 3.47vw;
	flex-wrap: wrap;
}
.footer_left_body {
	display: flex;
	flex: 1 1 50%;
	justify-content: center;
	justify-content: space-around;
}
.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both }
.footer_logo {
	margin-right: 6.77vw;
}
.footer_logo a, {
	display: block;
}
.footer_nav {
	display: flex;
	flex-wrap: wrap;
}
.footer_left {
	flex: 1 1 60px;
	margin: 0 25px 32px;
}
.footer_elem {
	margin-bottom: 5px;
}
.footer_right_body {
	display: flex;
	flex: 1 1 50%;
}
.footer_contact {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.footer_component {}
.footer_mail {
	margin-right: 2.78vw;
	margin-bottom: 5px;
}
.footer_address {
	margin-bottom: 10px;
	opacity: 0.8;
}
.footer_bottom {
	margin: 0 auto;
}
.footer_item {
	opacity: 0.4;
}
/*Оформляем всплывающее окно*/
.frame {}
.frame_container {}
.frame_content {
	padding: 5.86vw 0 6.6vw 0;
}
.frame_tittle {
	margin-bottom: 40px;
}
.frame_text {}

/*Оформляем страницу блог*/
.writing {}
.writing_container {
	padding: 2vw 7vw 3vw;
}
.writing_content {}
.writing_tittle {
	margin-bottom: 2vw;
}
.writing_header {
	display: flex;
}
.writing_header_image {
	margin-right: 3vw;
	flex: 1 0 60%;
}
.writing_header_image img{
	width: 100%;
}
.writing_header_info {}
.writing_date {
	margin: 5px 0 15px;
}
.writing_sumtittle {}
.writing_tag {
	display: flex;
	margin: 15px 0;
}
.writing_tag_elem {
	background: #E5E5E5;
 	border-radius: 23px;
 	padding: 5px 11px;
 	margin-right: 14px;
}
.writing_text {
	line-height: 1.5em;
}
.writing_link {
	margin-top: 8px;
}
.writing_nav {
	display: flex;
	margin-left: 7vw;
}
.writing_nav_elem {
	margin: 0 4vw 2vw 0;
}
/*Настраиваем контентную часть блога*/
.writing_body {
	display: flex;
	flex-wrap: wrap;
	padding: 0 7vw;
}
.writing_elem {
	flex: 1 1 25%;
	margin-bottom: 4.5vw;
}
.writing_elem:nth-child(2), .writing_elem:nth-child(5), .writing_elem:nth-child(8) {
margin: 0 4vw;
}

.writing_header_img {}
.writing_header_img img{
	width: 100%;
}
.writing_body .writing_date {
	margin-top: 15px;
}
.writing_nav_elem {}
.writing_body .writing_tag {
	margin: 10px 0;
}
.writing_tag_elem {}
.writing_text {}
/*Оформляем список страницы*/
.writing_number {
	display: flex;
	justify-content: center;
}
.writing_numbeer_elem {
	margin: 0 1.25vw 51px;
}
/*Оформляем seo*/
.seo {}
.seo_container {
	padding: 1.74vw 7vw 2vw;
}
.seo_content {
	max-height: 242px;
	margin-bottom: 2vw;
	overflow: hidden;
}
.seo_tittle {}
.seo_text {
	margin-bottom: 15px;
}
.seo_text p{
	margin-top: 15px;
}
.seo_button {
}
.seo_elem {}
/*Оформляем страницу видео*/
/*Оформляем шапку контентной чаcти видео*/
.video {}
.video_container {
	padding: 1.74vw 7vw 3vw;
}
.video_content {}
.video_header {
	margin-bottom: 3.5vw;
}
.video_header_tittle {
	margin-bottom: 1.88vw;
}
.video_header_subtittle {
	margin-bottom: 6px;
}
.video_header_date {
	margin-bottom: 12px;
}
.video_header__video {}
.video_header__video iframe{
	width: 100%;
	height: 41vw;
}
/*Оформляем контентной чаcти видео*/
.video_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.video_elem {
	flex: 0 1 42%;
	margin-bottom: 3.5vw;
}
.video_main_video {}
.video_main_video iframe{
	width: 40vw;
	height: 24vw;
}
.video_main_tittle {
	margin-top: 10px;
}
.video_main_date {
	margin-top: 5px;
}
/*Оформляем часть "интереное"*/
.video_writing {
	margin-bottom: 3.2vw;
}
.video_writing_tittle {
	margin-bottom: 3.5vw;
}
.video_writing {
	padding: 0 7vw;
}
.video_writing_tittle {}
.video_writing_body {
	display: flex;
}
.video_writing_elem {
	flex: 1 1 25%;
}
.video_writing_elem:nth-child(1) {
	margin-right:2.24vw;
}
.video_writing_elem:nth-child(3) {
	margin-left:2.24vw;
}
/*Оформляем страницу контакты*/
.contacts_container {}
.contacts_content {
	padding: 2vw 7vw 3vw;
}
.contacts_tittle {
	margin: 30px 0;
}
.contacts_body {
	display: flex;
}
.contacts_info {
	flex: 1 1 45%;
}
.contacts_info_text {
	line-height: 1.5;
	max-width: 500px;
	margin-bottom: 8px;
	padding-right: 15px;
}
.contacts_info_tel {
	background: url(../image/contacts/phone.svg) no-repeat;
	padding-left: 40px;
}
.contacts_info_tel p{
	margin-bottom: 8px;
}
.contacts_info_mail {
	margin-bottom: 8px;
	background: url(../image/contacts/mail.svg) no-repeat;
	padding-left: 40px;
}
.contacts_info_address {
	padding: 4px 0 8px 40px;
	background: url(../image/contacts/address.svg) no-repeat;
	margin-bottom: 16px;
}
.contacts_map {
	flex: 1 1 45%;
	border-radius: 4px;
}
.contacts_map iframe{
	width: 100%;
	height: 100%;
}
.contacts_form {}
.contacts_form_text {
	margin: 22px 0 14px 20px;

}
.contacts_form_input {
	width: 420px;
	padding: 0 20px;
	height: 50px;
	border: 1px solid #061224E5;
	border-radius: 37px;
}
.contacts_form_textarea{
	height: 138px;
	width: 420px;
	border: 1px solid #061224E5;
	padding: 10px 20px;
	resize: none;
	border-radius: 8px;
	margin-bottom: 24px;
}
.contacts_form_submit{
	letter-spacing: 0.19em;
	padding: 16px 57px;
	background: #70a2ef;
	border: 1px solid #70a2ef;
}
.contacts_form_submit:hover{
	background: none;

}
.contacts_form_submit:active{
	border: 1px solid #0046B0;
	background: #0046B0;
}

/*Оформление Страницы ответы и вопросы*/
.faq {}
.faq_container {}
.faq_content {
	padding: 2vw 7vw;
}
.faq_tittle {
	margin-bottom: 2vw;
}
.faq_subtittle{}
.faq_subtittle:before {  
  content: none;
}
details[open] > .faq_subtittle:before {
  content: none;
}
.faq_subtittle:after {  
  content: " +";
  margin-right: .3em;
}
details[open] > .faq_subtittle:after {
  content: " –";
}
/*Оформляем контакты в вопросах и ответах*/
.faq_contacts {}
.faq_contacts_contaiter {
	padding: 2.2vw 0 90px;
}
.faq_contacts_content{
	max-width: 420px;
	margin: 0 auto;
	position: relative;
}
.faq_contacts .contacts_form_submit{
	position: absolute;
	left: 50%;
	bottom: -57px;
	transform: translateX(-50%);
}
/*Оформляем страницу "о нас"*/

.aboutus {}
.aboutus_container {
	padding: 2.2vw 7vw 90px;
}
.aboutus_content {}
.aboutus_tittle {
	margin-bottom: 25px;
}
.aboutus_image {
	background: linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%),
	url(../image/about/main.jpg) no-repeat right top;
	height: 422px;
}
.aboutus_text {
	margin-top: 1.67vw;
	line-height: 1.5em;
}
.aboutus_body {
	padding: 1.67vw;
	display: flex;
}
.aboutus_img {
	background: linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%),
	url(../image/about/comment.jpg) no-repeat center center / auto 100%;
	flex: 0 0 37vw;
	height: 405px;
	max-width: 531px;
	margin-left: 6vw;
}
.aboutus_comment {
	margin-left: 7vw;
	max-width: 418px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	line-height: 1.5em;
}
.aboutus_comment_text {}
.aboutus_comment_autor {
	text-align: right;
}
.friends {}
.friends_container {}
.friends_content {}
.friends_tittle {}
.friends_logo {}
.friends_elem {}
.friends_input {}
.aboutus_signature {
	margin-top: 24px;
	text-align: center;
}
.aboutus_signature img{
	width: 24vw;
	max-width: 242px;

}
/*Оформляем  страничку ошибки*/
.fault {}
.fault_container {
	background: url(../image/error/error-bg.jpg) no-repeat center center / 100% 100%;
}
.fault_content {
	padding: 4vw 0 30px;
}
.fault_img {
	margin-bottom: 25px;
}
.fault_text {
	width: 550px;
	margin: 0 auto 20px;
	line-height: 1.2em;
}
.fault_button {
	padding: 13px 32px;
	border: 1px solid white;
	width: 178px;
	margin: 0 auto;
	border-radius: 43px;
	color: white;
	letter-spacing: 2px;

}
@media(max-width: 1440px){
/* Cоздаем ограничивающий контейнер для того чтобы элементы не разъехались
 при большой ширине экрана*/

}
@media(max-width: 1200px){
.writing_header {
	flex-direction: column;
}
.writing_header_image {
	margin: 0;
}
.writing_elem {
	flex: 1 1 45%;
	margin-bottom: 3.13vw;
}
.writing_elem:nth-child(2), .writing_elem:nth-child(5), .writing_elem:nth-child(8) {
margin: 0;
}
.writing_elem:nth-child(odd){
	margin-right: 4vw;
}
.writing_elem:nth-child(9){
	display: none;
}
.contacts_body {
	flex-direction: column;
}
.contacts_map iframe{
	width: 86vw;
	height: 30vw;
}

}
@media(max-width: 992px){
/*Скрываем меню */
.header_nav_main {
	display: none;
}
/*Делаем изображение pruduct широкой, элементы сами становяться в одну колону*/
.product_img {
	width: 85vw;
}
/*Выставляем последовательность элементов produkt*/
.product_elem_1{
	order: 1;
}
.product_elem_2{
	order: 2;
}
.product_elem_3{
	order: 4;
}
.product_elem_4{
	padding-left:15px;
	order: 3;
}
/*Задаем максимальные размеры контейнеру для того чтобы элементы перенеслись 
в 2 колоны*/
.sign_container{
	max-width: 76%;
	margin: 0 auto;
}
.sign_body{
	flex-wrap: wrap;
}
.sign_elem{
margin-top: 3.47vw;
}
.friends_container{
	max-width: auto;
}
.video_writing_elem {
	flex: 1 1 45%;
}
.video_writing_elem:nth-child(3) {
	display: none;
}
.aboutus_body {
	padding: 1.67vw 0;

}
.aboutus_img {
	flex: 0 0 50vw;
	height: 405px;
	margin-left: 0;
}
.aboutus_comment {
	margin-left: 2.6vw;
}
}
