/*Импортируем стили в один стиль*/
@import url(reset.css);
@import url(fons.css);
@import url(color.css);
.main {}
.wrapper {}
.container{}
/* Оформление кнопок*/
/* Обычное поведение кнопок*/
.button_blank, .button_blank_mob{
	border: 1.5px solid #1064E5;
	box-sizing: border-box;
	border-radius: 43px;
	padding: 18px 32px;
}
.button_full, .button_full_mob{
	border: 1.5px solid #1064E5;
	box-sizing: border-box;
	border-radius: 43px;
	padding: 18px 32px;
	background: #1064E5;
	color: white;
}
/* Поведение кнопок при наведении*/
.button_blank:hover, .button_blank_mob:hover{
	border: 1.5px solid #1064E5;
	background: #1064E5;
	color: white;
}
.button_full:hover, .button_full_mob:hover {
	background: none;
	color: rgba(6, 18, 36, 0.9);
}
/* Поведение кнопок при нажатии*/
.button_blank:active, .button_full:active, .button_full_mob:active{
	border: 1.5px solid #0046B0;
	background: #0046B0;
	color: white;
}
/* Поведение кнопки регистрация*/
.button_full_mob, .button_blank_mob, .button_full_mob:hover, 
.button_blank_mob:hover, .button_full_mob:active, .button_blank_mob:active{
	padding: 8px 32px;
}
/* Оформление header*/
.header_container {
	padding: 40px 7vw;

}
.header_contant {}
.header_img{}
.header_nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header_nav_logo {
	margin-right: auto;
}
.header_nav_main {}
.header_nav_lists {}
.header_nav_list {
	display: inline-block;
	margin: 0 1vw;
}
.header_nav_list:nth-child(6){
	margin: 9.5px 0.5vw;
}
.header_nav_link {}

.header_main {

}
.header_main_tittle {
	margin-top: 7vw;
	width: 40%;
}
.header_main_numbers {
	padding: 14px 0;
	display: flex;
	align-items: center;
}
.header_main_number {
	margin: 0 8px;
}
.header_main_number:nth-child(2),.header_main_number:nth-child(4){
	position: relative;
	width: 16px;
	height: 0px;
	background-color: #1064E5;
	border: 1.6px solid #1064E5;
	box-sizing: border-box;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	border-radius: 2px;
}
.header_main_number_active{}
.header_main_subtittle {}
.header_main_text {
	margin: 14px 0;
	width: 33%;
}
.header_button {
	margin-top: 50px;
}
.header_button_link{
	padding: 18px 32px;
}
.button_full {}
.header_input {
	text-align: center;
	margin-top: 115px;
}

/*Оформляем content на главной странице*/
/*Оформляем вевиз*/
.motto
.motto_container {}
.motto_body {}
.motto_slogans {
	padding: 4vw 0 5vw 0;
	display: flex;
	justify-content: center;
}
.motto_slogan {
	display: flex;
	margin: 0 1.74vw;
}
.motto_slogan_img {
	margin-right: 20px;
}
.motto_slogan_info {}
.motto_slogan_tittle {}
.motto_slogan_text {
	margin-top: 20px;
}
/*Оформляем продукт*/
.product {}
.product_container {
	padding: 6%;

}
.product_content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product_elem {
	flex: 1 1 43%;
	margin-top: 10px;
	padding: 15px;
}
.product_elem_1{}
.product_elem_2{}
.product_elem_3{}
.product_elem_4{
	padding-left: 7vw;
}
.product_tittle {
	margin-bottom: 8px;
}
.product_list {
	padding-right: 10px;
	position: relative;
	left: 10px;
}
.product_text {
	margin: 10px 0;
}
.product_text:before{
	content: "-";
	position: absolute;
	left: -10px;
}
.product_button {
	margin-top: 50px;
}
.product_img {
	width: 100%;
}
/*Оформляем подписи документов*/
.sign {}
.sign_container {
	max-width: 80%;
	margin: 0 auto;
}
.sign_content {
	padding: 2.08vw 0 3.47vw;
}
.sign_tittle {
	margin-bottom: 25px;
}
.sign_body {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 0 4px;

}
.sign_elem {
	padding: 32px;
	background: #DEEEFC;
	flex: 0 1 256px;
	height: 320px;
	margin: 2px;
	position: relative;
	border-radius: 4px;
}
.sign_subtittle {}
.sign_text {
	margin-top: 44px;
}
.sign_info {
	margin-top: 34px;
}
.sign_info span{}
.sign_button {}
/*Оформляем кнопки */
.sign_button .button_full_mob, .sign_button .button_full_mob:hover, 
.sign_button .button_full_mob:active{
	padding: 14px 15px;
	float: left;
	text-align: center;
	width: 75%;
	position: absolute;
	bottom: 32px;
}
/*Оформляем блок документы*/
.document {}
.document_container {}
.document_content {
	padding: 45px 0;
}
.document_tittle {
	padding-bottom: 25px;
}
.document_subtittle {
	padding-bottom: 15px;
}
.document_text {}
/*Оформляем блок партнеров/коллег*/
.friends {}
/* Cоздаем ограничивающий контейнер для того чтобы элементы не разъехались
 при большой ширине экрана*/
.friends_container {
	max-width: 75vw;
	margin: 0 auto;
}
.friends_content {
	padding: 50px 0;
}
.friends_tittle {
	padding-bottom: 50px;
}
.friends_logo {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.friends_elem {
	margin: 0 1.04em;
}
.friends_input {
	margin-top: 40px;
}
/*Оформляем блок "пишем про"*/
.about {}
.about_container {}
.about_content {
	padding: 45px 0;
}
.about_tittle {
	margin-bottom: 32px;
}
.about_body {
	display: flex;
	justify-content: center;
}
.about_elem {
	display: block;
	flex: 0 1 374px;
	margin: 0 1.875vw;
}
.about_img img{
	width: 100%;
}
.about_date {
	margin: 15px 0 ;
	padding-left: 20px;
}
.about_subtittle {
	padding: 0 20px;
}
/*Оформляем блок с видео*/
.acq {}
.acq_container {}
.acq_content {
	padding: 63px 0;
}
.acq_tittle {
	margin-bottom: 50px;
}
.acq_video iframe {
	width: 734px;
	height: 451px;
}
/*Оформляем блок с вопросами*/
.answer {}
.answer_container {}
.answer_content {
	max-width: 800px;
	margin: 0 auto;
	padding: 45px 0;
}
.answer_tittle {
	margin-bottom: 40px;
}
/*.answer_list {}
.answer_question {}
.answer_radio {}
input.answer_radio{
	display: none;
}
input.answer_radio + label + div{
	display: none;
}
input.answer_radio:checked + label + div{
	display: block;
}
input.answer_radio + label{
	text-decoration: underline;
	cursor: pointer;
}
input.answer_radio:checked + label{
	display: none;
}
input.answer_radio + label + div + input + label{
	display: none;
	text-decoration: underline;
	cursor: pointer;
}
input.answer_radio:checked + label + div + input + label{
	display: block;
}*/

.answer_text {
	max-width: 550px;
	margin: 0 auto;
}
.answer_elem {
	margin: 10px 0;
}
.answer_elem:nth-child(even) {
	margin-bottom: 20px;
}
/*Оформляем блок рассылки*/
.mailing {}
.mailing_container {}
.mailing_content {
	padding: 60px 0 100px;
}
.mailing_tittle {}
.mailing_text {
	margin-top: 40px;
}
.mailing_form {}
.mailing_box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mailing_elem {
	margin: 35px 9px;
}
.mailing_area {
	padding: 0 20px;
	height: 50px;
	border: 1px solid #1064E5;
	border-radius: 37px;
}
.mailing_submit {
	letter-spacing: 0.19em;
	padding: 16px 32px;
}
/*Оформляем подвал*/
.footer {}
.footer_container {}
.footer_content {
	display: flex;
	padding: 60px;
	flex-wrap: wrap;
}
.footer_left_body {
	display: flex;
	flex: 1 1 50%;
	justify-content: center;
	justify-content: space-around;
}
.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both }
.footer_logo {}
.footer_nav {
	display: flex;
}
.footer_left {}
.footer_elem {}
.footer_right_body {
	flex: 1 1 50%;
}
.footer_contact {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.footer_component {}
.footer_mail {}
.footer_address {}
.footer_bottom {
	flex: 1 1 auto;
}
.footer_item {}

@media(max-width: 1440px){
/* Cоздаем ограничивающий контейнер для того чтобы элементы не разъехались
 при большой ширине экрана*/
.sign_container{
	max-width: 100%; 
}
}
@media(max-width: 992px){
/*Скрываем меню */
.header_nav_main {
	display: none;
}
/*Делаем изображение pruduct широкой, элементы сами становяться в одну колону*/
.product_img {
	width: 85vw;
}
/*Выставляем последовательность элементов produkt*/
.product_elem_1{
	order: 1;
}
.product_elem_2{
	order: 2;
}
.product_elem_3{
	order: 4;
}
.product_elem_4{
	padding-left:15px;
	order: 3;
}
/*Задаем максимальные размеры контейнеру для того чтобы элементы перенеслись 
в 2 колоны*/
.sign_container{
	max-width: 76%;
	margin: 0 auto;
}
.sign_body{
	flex-wrap: wrap;
}
.sign_elem{
margin-top: 3.47vw;
}
.friends_container{
	max-width: auto;
}
}
